@model Gerobra.Models.rel_cliente_obra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>rel_cliente_obra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.id_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.id_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obra.cod_obra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obra.cod_obra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_rel_cliente_obra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
