@model Gerobra.Models.telefone

@{
    ViewBag.Title = "Detalhar Telefone";
}

    <h2>Detalhar Telefone</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sta_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sta_tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ramal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ramal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obra.cod_obra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obra.cod_obra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pessoa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pessoa.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_telefone }) |
    @Html.ActionLink("Voltar", "Index")
</p>
