@model IEnumerable<Gerobra.Models.telefone>

@{
    ViewBag.Title = "Listar Telefones";
}

<h2>Listar Telefones</h2>
<br />
@using (Html.BeginForm())
{
    <p>
        Procurar por nome da pessoa: @Html.TextBox("SearchString")


        <input type="submit" value="Procurar" class="btn btn-primary" />

    </p>
}
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sta_tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ramal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.obra.cod_obra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pessoa.nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sta_tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ramal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.obra.cod_obra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pessoa.nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_telefone }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.id_telefone }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.id_telefone })
            </td>
        </tr>
    }

</table>
