@model Gerobra.Models.conta_bancaria

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você realmente quer Excluir esta Conta Bancária?</h3>
<div>
    <h4>conta_bancaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.agencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banco.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banco.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pessoa.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pessoa.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
