@model Gerobra.Models.custo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você realmente quer Excluir este Custo?</h3>
<div>
    <h4>custo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.centro_custo.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centro_custo.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documento_fiscal.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento_fiscal.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.obra.cod_obra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obra.cod_obra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rel_material_fornecedor.unidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rel_material_fornecedor.unidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rel_servico_fornecedor.unidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rel_servico_fornecedor.unidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.id_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.id_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
