@model Gerobra.Models.rel_grupo_usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>rel_grupo_usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.grupo.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grupo.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.id_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.id_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_rel_grupo_usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
