@model Gerobra.Models.fornecedor

@{
    ViewBag.Title = "Excluir Fornecedor";
}

    <h2>Excluir Fornecedor</h2>

    <h3>Você realmente deseja excluir este Fornecedor?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Ativo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sin_ativo)
        </dd>

        <dt>
            @Html.DisplayName("Nome do Fornecedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pessoa.nome)
        </dd>

        <dt>
            @Html.DisplayName("Tipo de Fornecimento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_fornecedor.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
