@model Gerobra.Models.status_obra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>status_obra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sin_ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sin_ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_status_obra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
