@model Gerobra.Models.senha

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>senha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.senha1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sin_ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sin_ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.id_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.id_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_senha }) |
    @Html.ActionLink("Back to List", "Index")
</p>
