@model IEnumerable<Gerobra.Models.cargo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carga_horaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sin_ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carga_horaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sin_ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cargo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cargo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cargo })
        </td>
    </tr>
}

</table>
