@model Gerobra.Models.caixa

@{
    ViewBag.Title = "Detalhar Movimento";
}

<h2>Detalhes do Movimento</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.obra.cod_obra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.obra.cod_obra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dta_movimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dta_movimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_movimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_movimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayName("Documento Fiscal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento_fiscal.descricao)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_caixa }) |
    @Html.ActionLink("Voltar", "Index")
</p>
